<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Pagina de Bienvenida</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../css/miLogin.css" rel="stylesheet" type="text/css" />
<link href="../css/miLayout.css" rel="stylesheet" type="text/css" />
<link href="../css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
        <script>
            $(document).ready(function(){
                $('#ejemplo1').DataTable();
            });
        </script>
    </head>
    <body>
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
       <img src="../imagenes/Logo.png" width="30" height="30" alt="">
      Grupo Isamisa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            </div>
                <a th:href="@{/principal/inicio}" class="btn btn-success">MENÚ</a>
        </nav>

       <div class="container" style="margin-top: 15px;">
    
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
            <img src="../imagenes/usuarios.png" width="140" height="140">
        <a th:href="@{/persona/listarTodo}" class="btn btn-lg btn-block btn-outline-primary" style="margin-top: 10px;">Usuarios</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
            <img src="../imagenes/personas.png" width="140" height="140">
        <a th:href="@{/tipopersona/listarTodo}" class="btn btn-lg btn-block btn-outline-primary" style="margin-top: 10px;">Personas</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
            <img src="../imagenes/articulos.png" width="140" height="140">
        <a th:href="@{/item/listarTodo}" class="btn btn-lg btn-block btn-outline-primary" style="margin-top: 10px;">Artículos</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
            <img src="../imagenes/articulos.png" width="140" height="140">
        <a th:href="@{/item/listarTodo}" class="btn btn-lg btn-block btn-outline-primary" style="margin-top: 10px;">Transacciones</a>
      </div>
    </div>
  </div>

</div>
        <footer class="mt-auto fixed-bottom p-3">
          
                <small>Copyright &copy; www.isamisa.com.pe</small>
            
        </footer>

    </body>
</html>